{% extends 'base.html' %}

{load widget_tweaks}

{% block content %}
<div class="container">
<form action="" method="POST">{% csrf_token %}
    {{form}}
    {% for item in form %}
    <div class="form-group mt-5">
        <input 
            type="{{item.field.widget.input_type}}"
            class="form-control" 
            {% if item.field.required %}required{% endif %} 
            value="{{item.value}}"
            id="{{item.id_for_label}}">
    </div>
    {% endfor %}
    <div class="d-grid gap-2 mt-5">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
</div>

{% endblock content %}